HF_TOKEN=
GOOGLE_APPLICATION_CREDENTIALS_PATH=/path/to/service-account-key.json
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account-key.json
VOICE_CACHE_BUCKET=
VOICE_CACHE_PREFIX=voices
DEPLOYMENT_NAME=
TF_STATE_BUCKET=
PROJECT_ID=
IMAGE_REGISTRY=us-docker.pkg.dev/qarlproductionregistries/dockerimg/
IMAGE_TAG=
GH_PAT=
service_account_email=